body {
  background: black;
}

.title{
  font-size: 40px;
  color: gold;
  width: 24%;
  margin: auto;
  margin-bottom: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1.5px;
}

.muted{
  color: red;
  font-size: 30px;
}
.mute{
  color: white;
  font-size: 30px;
}


.game-container{
  width: 35%;
  margin: auto;

}

#game-canvas{
  margin-top: 10px;
  position: relative;
  margin-left: 0%;
}

.controls{
  color: white;
  position: absolute;
  text-align: center;
  left: 2%;
  top: 30%;
  font-size: 40px;
  width: 30%;
}

.instructions{
  color: white;
  position: absolute;
  text-align: center;
  right: 2%;
  top: 30%;
  font-size: 40px;
  width: 30%;
}

.score{
  font-size: 40px;
  color: gold;
  position: absolute;
  top: 7%;
  left: 57%;
}