body {
  background: black;
}

.full-screen{
  color: red;
  font-size: 30px;
}

.title{
  font-size: 36px;
  color: gold;
  text-align: center;
  /* width: 24%; */
  /* margin: auto; */
  font-family: 'Courier', Courier, monospace;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.muted{
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.mute{
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.game-container{
  width: 50%;
  margin: auto;
}

#game-canvas{
  margin-top: 10px;
  position: relative;
  margin-left: 0%;
  background-size: 100% 100%
}

.controls{
  color: white;
  text-align: center;
  padding-top: 2%;
  font-size: 30px;
  width: 30%;
  font-family: 'Courier', Courier, monospace;
}

.info-container{
  display: flex;
  justify-content: center;
}

.instructions{
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.coin-photo{
  margin-top: 10px;
}

.score{
  font-size: 30px;
  color: gold;
  position: absolute;
  top: 7%;
  left: 62%;
  font-family: 'Courier', Courier, monospace;
}

.gameover{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: rgb(255, 136, 0);
  font-size: 40px;
  width: 30%;
  display: none;
}

.gameover-text{
  display: inherit
}

.links-container{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.links{
  color: white;
  font-size: 24px;
  text-decoration: none;
}
