body {
  background: black;
}

.title{
  font-size: 40px;
  color: gold;
  width: 24%;
  margin: auto;
  margin-bottom: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1.5px;
}

.muted{
  color: red;
  font-size: 30px;
}
.mute{
  color: white;
  font-size: 30px;
}


.game-container{
  width: 50%;
  margin: auto;
}

#game-canvas{
  margin-top: 10px;
  position: relative;
  margin-left: 0%;
  background-size: 100% 100%
}

.controls{
  color: white;
  text-align: center;
  padding-top: 2%;
  font-size: 40px;
  width: 30%;
}

.info-container{
  display: flex;
  justify-content: center
}

.instructions{
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

.coin-photo{
  margin-top: 10px;
}

.score{
  font-size: 40px;
  color: gold;
  position: absolute;
  top: 6%;
  left: 62%;
}

.gameover{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: rgb(255, 136, 0);
  font-size: 40px;
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
}

.gameover-text{
  display: inherit
}

.links-container{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.links{
  color: white;
  font-size: 24px;
  text-decoration: none;
}
